
@{
    ViewBag.Title = "Anasayfa";
}

<h2>Anasayfa</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4">Aktif List
            <ul class="list-group">
                <li class="list-group-item">BEGold</li>
                <li class="list-group-item">Burakun</li>
                <li class="list-group-item">Ekrem</li>
                <li class="list-group-item">Burak</li>
            </ul>
        </div>
        <div class="col-lg-4">Nedir ?
            <input id="yetki" type="text" value="@Session["Yetki"]" />
        
        
        </div>
        <div class="col-lg-4">
        <input id="lol_id" type="text" placeholder="Buraya Lol Adınızı Yazınızzz"/>
        <input id="lol_id_btn" type="button" value="Gönder" />
        </div>
    </div>
</div>
