.minPicLOL {
    width: 110px;
    height: 70px;
    margin-right: 3rem
}

.maxPicLOL {
    width: 110px;
    height: 70px;
    margin-left: 3rem
}

.amountLOL1 {
    width: 10rem;
    font-size: 12px
}

.amountLOL2 {
    width: 10rem;
    font-size: 12px
}

.roleSearch-label {
    margin-top: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.role-img {
    width: 2rem;
    height: 2rem;
    padding-bottom: 7px;
}

.role-input {
    width: 1rem;
}

.hoursPlayed-label {
    margin-top: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.hours-label {
    padding-right: 1rem;
    padding-left: 0px;
}

.ageHeader {
    margin-top: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.age-label {
    padding-right: 1rem;
    padding-left: 0px;
}

.col-radio {
    flex: 0 0 8.333333%;
    max-width: 4.333333%;
    -ms-flex: 0 0 8.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.ageRadio {
    width: 15px;
    padding: 0;
}

.equipmentCheck-label {
    margin-top: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.equipmentCb-input {
    width: 1rem;
}

