@{
    ViewBag.Title = "Anasayfa";
}
<link href="~/Content/css/index.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700|Saira+Extra+Condensed:300,500,700" rel="stylesheet">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section>
        <div>
            <section>
                <div class="main-banner" style="background-color:white">
                    <div class="wrapper">
                        <div class="main-banner__text" style="color:royalblue">
                            FIND YOUR BEST TEAM MATE EASILY
                        </div>
                        <div class="bosluk"></div>

                        @* Search for CS:GO*@
                        <div id="csSearch" class="main-search ">
                            <div class="search-tabs">
                                <button class="btn btn-outline-primary tab-item" disabled>
                                    <div data-v-5556e609="" class="wrapper-icon wrapper-icon_player">
                                        <img data-v-5556e609="" src="data:image/svg+xml,%3Csvg width='29' height='23' viewBox='0 0 29 23' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eicon_player_active%3C/title%3E%3Cg fill='%23314559' fill-rule='evenodd'%3E%3Cpath d='M11.387 12.018l2.885 1.579a.624.624 0 0 0 .536.002l2.865-1.55V8.923c.473-.297.784-.794.784-1.36V3.308c0-1.806-1.568-3.27-3.508-3.27h-.836c-1.94 0-3.51 1.464-3.51 3.27v4.254c0 .566.311 1.07.784 1.36v3.096z'/%3E%3Cpath d='M17.929 13.02l-3.18 2.396a.431.431 0 0 1-.49-.001L11.125 13c-.744.35-3.169 1.554-5.432 3.302-.437.338-.69.849-.69 1.383v1.896c0 .796 1.205 1.136 1.205 1.136l7.421 2.2s.874.192 1.749 0c.551-.151 7.42-2.2 7.42-2.2s1.206-.273 1.206-1.136v-1.896a1.725 1.725 0 0 0-.684-1.383c-2.226-1.727-4.605-2.912-5.39-3.282z'/%3E%3C/g%3E%3C/svg%3E"> <!---->
                                        Find a CS:GO player
                                    </div>
                                </button>
                            </div>
                            <div class="main-search__wrapper">
                                <div class="main-search__left">
                                    <div class="skill-level-home" style="margin-right:1rem">
                                        <div class="form-horizontal" style="background-color: white;">
                                            <p>
                                                <label style="margin-left:100px; position:center">SKILL LEVEL</label>
                                                <br />
                                                <label for="amount">Price range:</label>
                                                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                            </p>
                                            <div id="slider-range"></div>
                                            <div id="gallery" style="display: none; margin-left:2.5rem">
                                                <img src="~/TMF Documents/Silver1.png" id="minPic" width="100" height="50" />
                                                <input type="hidden" id="minData" name="minData" />
                                                <input type="hidden" id="maxData" name="maxData" />
                                                <span class="label label-default">-</span>
                                                <img src="~/TMF Documents/Global.png" id="maxPic" width="100" height="50" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="bosluk2">
                                        <button class="btn btn-outline-primary my-2 mr-2 my-sm-0" type="submit">
                                            <span class="fas fa-search ">
                                            </span> Find
                                        </button>
                                    </div>
                                </div>

                                <div class="main-search__right">
                                    <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                        <label>
                                            <input type="checkbox" name="AWP"> AWP
                                        </label>
                                    </div>
                                    <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                        <label>
                                            <input type="checkbox" name="Lurker"> Lurker
                                        </label>
                                    </div>
                                    <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                        <label>
                                            <input type="checkbox" name="Rifler"> Rifler
                                        </label>
                                    </div>
                                    <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                        <label>
                                            <input type="checkbox" name="IGL"> IGL
                                        </label>
                                    </div>
                                    <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                        <label>
                                            <input type="checkbox" name="Supporter"> Supporter
                                        </label>
                                    </div>
                                    <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                        <label>
                                            <input type="checkbox" name="Fragger"> Fragger
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Search for League of Legends*@
                        <div id="lolSearch" class="main-search " style="display:none">
                            <div class="search-tabs">
                                <button class="btn btn-outline-primary tab-item" disabled>
                                    <div data-v-5556e609="" class="wrapper-icon wrapper-icon_player">
                                        <img data-v-5556e609="" src="data:image/svg+xml,%3Csvg width='29' height='23' viewBox='0 0 29 23' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eicon_player_active%3C/title%3E%3Cg fill='%23314559' fill-rule='evenodd'%3E%3Cpath d='M11.387 12.018l2.885 1.579a.624.624 0 0 0 .536.002l2.865-1.55V8.923c.473-.297.784-.794.784-1.36V3.308c0-1.806-1.568-3.27-3.508-3.27h-.836c-1.94 0-3.51 1.464-3.51 3.27v4.254c0 .566.311 1.07.784 1.36v3.096z'/%3E%3Cpath d='M17.929 13.02l-3.18 2.396a.431.431 0 0 1-.49-.001L11.125 13c-.744.35-3.169 1.554-5.432 3.302-.437.338-.69.849-.69 1.383v1.896c0 .796 1.205 1.136 1.205 1.136l7.421 2.2s.874.192 1.749 0c.551-.151 7.42-2.2 7.42-2.2s1.206-.273 1.206-1.136v-1.896a1.725 1.725 0 0 0-.684-1.383c-2.226-1.727-4.605-2.912-5.39-3.282z'/%3E%3C/g%3E%3C/svg%3E"> <!---->
                                        Find a LoL player
                                    </div>
                                </button>
                            </div>
                            <div class="main-search__wrapper">
                                <div class="main-search__left">
                                    <div class="skill-level-home" style=" margin-right:5rem">
                                        <div class="form-horizontal" style="background-color: white;">
                                            <p>
                                                <label style="margin-left:100px; position:center">SKILL LEVEL</label>
                                                <br />
                                                <label for="amount">Price range:</label>
                                                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                            </p>
                                            <div id="slider-range"></div>
                                            <div id="gallery" style="display: none; margin-left:2.5rem">
                                                <img src="~/TMF Documents/Silver1.png" id="minPic" width="100" height="50" />
                                                <input type="hidden" id="minData" name="minData" />
                                                <input type="hidden" id="maxData" name="maxData" />
                                                <span class="label label-default">-</span>
                                                <img src="~/TMF Documents/Global.png" id="maxPic" width="100" height="50" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="bosluk2">
                                        <button class="btn btn-outline-primary my-2 mr-2 my-sm-0" type="submit">
                                            <span class="fas fa-search ">
                                            </span> Find
                                        </button>
                                    </div>
                                </div>

                                <div class="main-search__right">
                                    <div class="roles" style="margin-bottom:6rem; margin-left:6rem">
                                        <div class="checkbox" style="margin-right:1rem">
                                            <label>
                                                <input type="checkbox" name="Sniper"> Sniper
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin-right:1rem">
                                            <label>
                                                <input type="checkbox" name="Assault"> Assault
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin-right:1rem">
                                            <label>
                                                <input type="checkbox" name="Support"> Support
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

}




<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/js/home.js"></script>
}