@{
    ViewBag.Title = "Anasayfa";
}

<h2>Anasayfa</h2>

@*<div class="container">
        <div class="row">
            <div class="col-lg-4">Aktif List
                <ul class="list-group">
                    <li class="list-group-item">BEGold</li>
                    <li class="list-group-item">Burakun</li>
                    <li class="list-group-item">Ekrem</li>
                    <li class="list-group-item">Burak</li>
                </ul>
            </div>
            <div class="col-lg-4">Nedir ?</div>
            <div class="col-lg-4">
            <input id="lol_id" type="text" placeholder="Buraya Lol Adınızı Yazınızzz"/>
            <input id="lol_id_btn" type="button" value="Gönder" />
            </div>
        </div>
    </div>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


<div class="form-horizontal">
    <div id="csDiv" style="display: none;">
        <p>
            <label for="amountCS">Rank range:</label>
            <input type="text" id="amountCS" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-rangeCS"></div>
        <div id="galleryCS" style="display: none;">
            <img src="~/TMF Documents/CS/Silver1.png" id="minPicCS" width="140" height="80" />
            <input type="hidden" id="minDataCS" name="minData" />
            <input type="hidden" id="maxDataCS" name="maxData" />
            <span class="label label-default">-</span>
            <img src="~/TMF Documents/CS/Global.png" id="maxPicCS" width="140" height="80" />

        </div>
    </div>
    <div id="lolDiv" >
        <p>
            <label for="amountLOL1">Rank range:</label>
            <input type="text" id="amountLOL1" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <input type="text" id="amountLOL2" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-rangeLOL"></div>
        <div id="galleryLOL" style="display: none;">
            <img src="~/TMF Documents/LOL/bronze_5.png" id="minPicLOL" width="140" height="80" />
            <input type="hidden" id="minDataLOL" name="minData" />
            <input type="hidden" id="maxDataLOL" name="maxData" />
            <span class="label label-default">-</span>
            <img src="~/TMF Documents/LOL/challenger_1.png" id="maxPicLOL" width="140" height="80" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Bul" class="btn btn-default" />
        </div>
    </div>
</div>

}




<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/js/home.js"></script>
}