@using TMF.Models.Entity
@model users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/login.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/js/loginJS.js"></script>
    <script>


        $(document).ready(function () {
            $("#kayitBtn").click(function () {
                $("#kayitHid").show();
                $("#loginDiv").hide();
            });
            $("#login-btn2").click(function () {
                $("#kayitHid").hide();
                $("#loginDiv").show();
            });
            $.ajax({
                type: 'GET',
                url: '/games/getGames',
                datatype: 'json',
                success: function (data) {
                    $.each(data, function (index, option) { 
                        $("#cbList").append('<input class="cbList-text" value="' + option.Value + '" name="' + option.Value + '" type="checkbox" />' + option.Text+'</br>');
                    });
                }
            });
        });

    </script>
</head>
<body>
    <input type="hidden" name="registerPage" value="1" />
    <div>
        <div class="container">
            <div id="login-box">
                <div class="logo">
                    <img src="~/TMF Documents/tmf.PNG" class="img img-responsive img-circle center-block" />
                    <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
                </div><!-- /.logo -->
                <div class="controls">

                    <form action="@Url.Action("Login","users")" method="post">
                        <div id="loginDiv">
                            <input type="text" name="usernameL" placeholder="Username" class="form-control" />
                            <input type="password" name="passL" placeholder="Password" class="form-control" />
                            <button type="submit" class="btn btn-default btn-block btn-custom" id="login-btn1">Login</button>
                            <button type="button" id="kayitBtn" class="btn btn-default btn-block btn-custom">Kayıt Ol</button>
                            <button type="button" class="btn btn-default btn-block btn-custom " style="background-color:dodgerblue" onclick="location.href='@Url.Action("Index", "Find" )'">
                                Return Home
                            </button>
                        </div>
                        
                    </form>

                    <form action="@Url.Action("Create","users")" method="post">
                        <div id="kayitHid" style="display: none;">
                            <input type="text" name="usernameK" placeholder="Username" class="form-control" />
                            <input type="password" name="passK" placeholder="Password" class="form-control" />
                            <input type="email" name="emailK" placeholder="abc@dce.com" class="form-control" />
                            <label class="cbList-label">Games</label>
                            <div class="cbList-text" id="cbList">
                                @*DB'de bulunan oyun sayısı kadar checkbox.*@

                            </div>
                            <button type="submit" id="kaydol" class="btn btn-default btn-block btn-custom">Kaydol</button>
                            <button type="button" class="btn btn-default btn-block btn-custom" id="login-btn2">Login</button>
                            <button type="button" class="btn btn-default btn-block btn-custom " style="background-color:dodgerblue" onclick="location.href='@Url.Action("Index", "Find" )'">
                                Return Home
                            </button>
                        </div>
                        
                    </form>

                </div><!-- /.controls -->
            </div><!-- /#login-box -->
        </div><!-- /.container -->
        <div id="particles-js"></div>
    </div>

</body>
</html>
